<div class="single-item-container">
  <div class="single-item-card">
    <div class="single-item-contents">
      <div id="item-title" class="single-item-title">
        {{newVideo.title}}
      </div>
      <div id="item-description" class="single-item-description">
        {{newVideo.description}}
      </div>
    </div>
  </div>
</div>